
.result-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}

.result-heading {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.result-text {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}